<h1>Introduction to <attr title="HyperText Markup Language">HTML</attr> &amp; <attr title="Cascading Style Sheets">CSS</attr> </h1>

<h2>HTML</h2>
<ol>
  <li><%= link_to "exercise: HTML layout", html_ex01_path %></li>
  <li><%= link_to "exercise: Form submission", html_ex02_path %></li>
  <li><%= link_to "exercise: Making Pretty Pt 1", html_ex03_path %></li>
</ol>

<h2>CSS</h2>
<ol>
  <li><%= link_to "exercise: CSS <style> tag", css_ex01_path %></li>
  <li><%= link_to "exercise: CSS code reuse", css_ex02_path %></li>
</ol>